body {
  font-size: 32px;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  line-height: 100vh; }

.axis {
  height: 83px;
  width: 875px;
  margin-left: auto;
  margin-right: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 0; }

.task {
  text-align: center; }
  .task__span {
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block; }
    .task__span_invalid {
      background-color: yellow; }
  .task__input {
    font-size: 28px;
    width: 30px;
    text-align: center; }
    .task__input_invalid {
      color: red; }

.arrows {
  height: 166px;
  width: 875px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 10; }

.wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  line-height: 1.5; }

.arrow {
  position: absolute;
  width: 360px;
  height: 100.8px;
  bottom: -19px;
  left: 33px; }
  .arrow__label {
    position: absolute;
    z-index: 20;
    top: -46px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .arrow__input {
    font-size: 28px;
    width: 30px;
    text-align: center; }
    .arrow__input_invalid {
      color: red; }
  .arrow__img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 102%;
    z-index: 10; }
  .arrow__span {
    font-size: 28px; }
